.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

/*  Меню */

.menu-title-list {
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "Сomic Sans MS", sans-serif;
    font-size: 20px;
}

.menu-title-list a {
    text-decoration: none;
    color:#2D9780;
}

.menu-item {
    display: inline-block;
    font-weight: bold;
    margin: 0 50px;
}

/* Картинка */

.img {
    text-align: center;
    max-width: 100%;
}

/* Текст  */

.content {
    background-color: rgb(245, 246, 247);
    font-family: "Roboto";
    font-size: 17px;
    line-height: 25px;
}

.content-header {
    letter-spacing: 1px;
    word-spacing: 6px;
    font-size: 22px;
    text-transform: uppercase;
}


.content-indent {
    padding: 0 20px 0 20px;
}

/* Кнопка */

.button-container {
    text-align: center;
}

.button {
    width: 200px;
    padding: 25px 25px;
    margin-bottom: 200px;
    font-size: 15px;
    background: rgb(15, 161, 134);
    border: 0px solid;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Tahoma", monospace;
    color: #fff;
}


/* Футер */


.copyright {
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1px;
    word-spacing: 7px;
    text-align: right;
    font-family: "Сomic Sans MS", sans-serif;
    font-size: 15px;
    font-weight: bold;
}



