
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.ttf');
    src: url('../fonts/Arimo-Regular.ttf');
} 

body {
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
	text-align: center;
}


.container {
    display: flex;
    justify-content: center;
}

.price-plan {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgba(53, 53, 126, 0.74);
}

/* Выравнивание, цвет, границы  */

.price-plan th {
    box-sizing: border-box;
    box-shadow: inset -3px 0px 6px -3px rgba(0, 0, 0, 0.27);
}

td {
    box-sizing: border-box;
    width: 277px;
    font-size: 16px;
    box-shadow: inset -3px 0px 6px -3px rgba(0, 0, 0, 0.27);
    color:  #484848;
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:nth-child(n+1) td {
    padding: 29px 0 27px 0px;
}

.light-grey {
    background-color: rgb(243, 243, 243);
}

.dark-grey {
    background-color: rgb(228, 228, 228);
}

/* Отступы в ячейках и ширина шрифта */

tr th.content-header-row {
    padding: 18px 0 18px 0px;
    font-weight: 700;
}


tr td.content-header-row {
    padding: 18px 0 18px 30px;
    font-weight: 700;
}

/* Главная колонка */

.content-main-column{
    width: 310px;
}

.content-main-column p i {
    color:  #848484;
    font-size: 24px;
}

/* Шапка таблицы */

th.content-header-row {
    color: #ffffff;
}

.content-header-row-green {
    background-color: rgb(138, 197, 46);
    font-size: 24px;
}

.content-header-row-red {
    background-color: rgb(241, 72, 85);
    font-size: 30px;
}

.content-header-row-blue {
    background-color: rgb(26, 129, 125);
    font-size: 24px;
}

.content-cell-dollars {
    font-size: 60px;
    float: left;
}

.content-cell-cent {
    padding-top: 4px;
    font-size: 24px;
    float: left;
}

.content-cell-period {
    font-size: 18px;
    padding-top: 6px;
    font-weight: 400;
    float: left;
}

/*Ячейка с заголовком*/

.content-main-cell {
    text-align: center;
    vertical-align: middle;
    color:  #484848;
    font-weight: 700;
    line-height: 28px;
}

.content-main-cell-top {
    font-size: 18px;
}

.content-main-cell-header {
    font-size: 30px;
}

/* Нижние кнопки */

.content-btn {
    width: 190px;
    height: 50px;
    font-size: 18px;
    color:  #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-contact {
    background-color: rgb(70, 70, 70);
    text-shadow: 0px -1px 3px rgba(0, 0, 0, .5);
    box-shadow: 0px 6px 0px #404040, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(136, 135, 135, 0.61), inset 0px 0px 4px rgba(136, 135, 135, 0.61);
    outline: none;
    cursor: pointer;
}

.btn-contact:active { 
    background-color: rgba(70, 70, 70, 0.76);
    box-shadow: 0px 6px 0px #313131, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(136, 135, 135, 0.61), inset 0px 0px 4px rgba(136, 135, 135, 0.61);
    -webkit-transform: translate(0, 4px) rotateX(20deg);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.btn-contact:hover {
    background-color: rgba(70, 70, 70, 0.76);
    transition: all .2s ease-in-out;
}

.btn-green {
    background-color: #8ac52e;
    text-shadow: 0px -1px 3px rgba(0, 0, 0, .5);
    box-shadow: 0px 6px 0px rgb(121, 178, 34), 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(154, 237, 24, 0.62), inset 0px 0px 4px rgba(154, 237, 24, 0.62);
    outline: none;
    cursor: pointer;
}

.btn-green:active { 
    background-color: rgba(138, 197, 46, 0.87);
    box-shadow: 0px 6px 0px rgb(129, 195, 30), 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(154, 237, 24, 0.62), inset 0px 0px 4px rgba(154, 237, 24, 0.62);
     -webkit-transform: translate(0, 4px) rotateX(20deg);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.btn-green:hover {
    background-color: rgba(138, 197, 46, 0.87);
    transition: all .2s ease-in-out;
}

.btn-red {
    background-color: rgb(241, 72, 85);
    text-shadow: 0px -1px 3px rgba(0, 0, 0, .5);
    box-shadow: 0px 6px 0px #df3a46, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(235, 91, 102, 0.88), inset 0px 0px 4px rgba(235, 91, 102, 0.88);
    outline: none;
    cursor: pointer;
}

.btn-red:active { 
    background-color: rgba(241, 72, 85, 0.89);
    box-shadow: 0px 6px 0px #e84450, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(235, 91, 102, 0.88), inset 0px 0px 4px rgba(235, 91, 102, 0.88);
     -webkit-transform: translate(0, 4px) rotateX(20deg);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.btn-red:hover {
    background-color: rgba(241, 72, 85, 0.89);
    transition: all .2s ease-in-out;
}

.btn-blue {
    background-color: rgb(26, 129, 125);
    text-shadow: 0px -1px 3px rgba(0, 0, 0, .5);
    box-shadow: 0px 6px 0px #16736f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(57, 178, 174, 0.68), inset 0px 0px 4px rgba(57, 178, 174, 0.68);
    outline: none;
    cursor: pointer;
}

.btn-blue:active { 
    background-color: rgba(22, 106, 103, 0.83);
    box-shadow: 0px 6px 0px #16736f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 2px 0px rgba(51, 211, 204, 0.62), inset 0px 0px 4px rgba(51, 211, 204, 0.62);
     -webkit-transform: translate(0, 4px) rotateX(20deg);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.btn-blue:hover {
    background-color: rgba(22, 106, 103, 0.83);
    transition: all .2s ease-in-out;
}
