body {
    font-family: 'Verdana', sans-serif;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color:  rgba(0, 0, 0, 0.41);
}

.main-container {
    margin: 0 auto;
    width: 1160px;
}

.header-nav {
    padding: 20px 0 19px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header-logo-text h1 a{
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo-text:hover h1 a {
    color: rgb(58, 186, 120);
}

.header-menu-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-element-icon {
    display: inline-block;
    background: url(../img/icons.png);
    text-decoration: none;
    margin-right: 28px;
}

.header-element-icon-calendar {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.header-element-icon-calendar:hover {
    background-position: -5px -5px;
}

.header-element-icon-forum {
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.header-element-icon-forum:hover {
    background-position: -63px -5px;
}

.header-element-icon-journey {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}

.header-element-icon-journey:hover {
    background-position: -139px -5px;
}

.header-element-links {
    color:  #ffffff;
    font-size: 16px;
    text-align: left;
	border-left: 1.5px solid rgb(87, 87, 87);
    padding-left: 30px;
}

.header-element-links a {
    color: rgb(58, 186, 120);
    text-decoration: none;
}

.header-element-links a:hover{
    border-bottom: 1px solid rgb(58, 186, 120);
}

/*  C O N T E N T */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 768px;
}

.window-container {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background-color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 6px;
    padding-top: 29px;
    width: 444px;
    position: relative;
}


/* Green`s foursquare*/

.window-green_foursquare {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(58, 186, 120);
    box-sizing: content-box;
}

/* H E A D E R */

.window-top {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.window-top-header {
    color:  #434343;
    font-size: 20px;
    text-align: center;
}

.window-top-link {
    margin-top: 4px;
    color: rgb(58, 186, 120);
    text-decoration: none;
    font-size: 14px;
}

.window-top-link:hover {
    border-bottom: 1px solid rgb(58, 186, 120);
}

/* B U T T O N S*/

.window-btn {
    display: flex;
    justify-content: space-around;
    padding: 15px 60px 30px 60px;
}


.window-btn-example {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    width: 157px;
    text-decoration: none;
    color: #ffffff;
}

.window-btn-facebook {
    background-color: rgb(33, 73, 151);
    font-size: 16px;
}

.window-btn-facebook:hover {
    background-color: rgba(33, 73, 151, 0.72);
    transition: All 1s;
}

.window-btn-facebook:active {
    background-color: rgba(14, 58, 245, 0.9)
}

.window-btn-facebook i {
    width: 25px;
    padding: 10px 0px 10px 0px;
    border-right: 1px solid rgb(87, 87, 87);
}

.window-btn-facebook span {
    margin-left: 7px;
}

.window-btn-google {
    background-color: rgb(196, 63, 40);
    font-size: 16px;
}

.window-btn-google:hover {
    background-color: rgba(234, 51, 19, 0.72);
    transition: All 1s;
}

.window-btn-google:active {
    background-color: rgba(240, 48, 15, 0.9);
}

.window-btn-google i {
    width: 28px;
    padding: 10px 0px 10px 0px;
    border-right: 1px solid rgb(87, 87, 87);
}

.window-btn-google span {
    margin-left: 17px;
}


/* Word and lines */

.window-line-word {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 30px 60px;
    color: rgb(196, 196, 196);
}

.window-line {
    background-color: rgb(196, 196, 196);
    border: none;
    width: 120px;
    height: 1px;
}

/*Window inputs*/

.window-form {
    padding: 0 60px 15px 60px;
}

input {
    margin-bottom: 15px;
	text-indent: 20px;
	border:none;
}

.window-form-area {
	border-radius: 3px;
    border: 1px solid rgb(196, 196, 196);
    width: 100%;
	height: 46px;
    outline: none;
	font-size: 14px;
	margin-bottom: 15px;
}

.window-form-area:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.41);
    color: #000000;
    transition: All 1s;
}

/* Checkbox */

.window-checkbox {
    padding: 0px 60px 15px 60px;
    font-size: 14px;
}

.container-checkbox {
    display: flex;
    align-content: center;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    border: 0.5px solid rgb(235, 235, 235);
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.27);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(58, 186, 120);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.window-checkbox-item {
    font-size: 14px;
}

.window-checkbox-link {
    text-decoration: none;
    color: rgb(58, 186, 120);
}

.window-checkbox-link:hover {
    border-bottom: 1px solid rgb(58, 186, 120);
}

/*Window contact btn*/

.window-contacts-btn {

}

.window-contacts-submit {
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: rgb(58, 186, 120);
    color: #ffffff;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.window-contacts-submit:hover {
    background-color: rgba(19, 201, 61, 0.92);
    transition: All 1s;
}
