body {
    font-family: 'Verdana', sans-serif;
    background: url(../img/background.png);
    background-size: cover;
}

.page {
    margin: 0 auto;
    width: 1366px;
    max-width: 100%
}

.container {
    width: 1060px;
    margin: 0 auto;
}

/*  H e a d e r  */


.header-content{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}

/* L E F T   C O L U M N*/

.logo-left {
    display: flex;
}

.header-logo-text {
    display: flex;
    flex-direction: column;
}

.header-logo-img {
    margin-right: 10px;
    width: 46px;
    height: 44px;
    background-image: url(../img/log.png);
    background-position: -5px -5px;
}

.header-logo-text a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.logo-left:hover .header-logo-img {
    background-image: url(../img/log.png);
    background-position: -61px -5px;
}

.logo-left:hover .header-logo-text a{
    color: rgb(243, 101, 29);
    text-shadow: 0px 0px 2px #e90f0f, 0px 0px 3px #e90f0f;
}

.logo-main-word {
    font-size: 29px;
}

.logo-additional-text {
    font-size: 18px;
}


/* R I G H T   C O L U M N*/

.header-contact-text {
    margin-top: 8px;
}

.contacts-right-text {
    color: white;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

/* C O N T E N T */

.content {
    text-align: center;
}

.tours-list {
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.tours-list-item {
    max-width: 300px;
    margin-bottom: 45px;
    position: relative;
}

.tours-item-link {
    text-decoration: none;
    color: white;
}

.content-img {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #d7eced 0%, #252627 100%);
    border-image-slice: 1;
    margin-bottom: 17px;
}

/* O R A N G E    B L O C K*/

.hidden-info {
    position: absolute;
    opacity: 0;
    background-color: rgba(230, 106, 24, 0.86);
    bottom: 15%;
    left: 1px;
    width: 103%;
    border: none;
}

.tours-list-item:hover
.hidden-info {
    opacity: 1;
    transition: All 0.4s ease;
}

.color-text{
    margin-bottom: 7px;
    text-align: left;
    font-size: 10px;
    padding: 10px 0 0 21px;
    color: rgb(255, 255, 255);
}

.color-price {
    float: left;
    padding: 0 0 17px 21px;
    color: rgb(255, 255, 255);
}

.color-more {
    float: right;
    padding: 0px 30px 17px 0;
}

/* I M A G E    D E S C R I P T I O N*/

.img-depiction {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.tours-list-item:hover
.img-depiction {
    color: #f74807;
    transition: All 0.4s ease;
}

/* F O O T E R */

.footer {
    padding-top: 45px;
}

.footer-description{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
}
