body {
    font-family: 'Myriad Pro', sans-serif;
}

.page {
    width: 1280px;
    margin: 0 auto;
}

 /* Header  */ 

.main-header {
   padding: 61px 0px 51px; 
}

    /* Ramda.js */

.text-colorful {
    font-size: 80px;
}

.text-link {
    text-decoration: none;
}

.text-black {
    color: rgb(0, 0, 0);
}

.text-blue {
    color: rgb(73, 203, 255);
}

    /* Header-title */


.header-menu {
    margin-top: 45px;
    background-color: #35444f;
    text-align: center;
}

.header-menu .header-menu-item {
    display: inline-block;
}

.header-menu-link {
    display: inline-block;
    text-decoration: none;
    padding: 26px 40px 21px 40px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    font-size: 24px;
    color:  #ffffff;
}

.header-menu-link:hover {
    background:  #222f3a;
    border-right: 1px solid rgb(129, 129, 129);
    border-left: 1px solid rgb(129, 129, 129);
    transition: All 0.4s ease;
}


/* Content */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* left column */

.left-sidebar {
    float: left;
    width: 27%;
}

.left-sidebar-block {
    border: 1px solid;
    border-color: rgb(50, 66, 78);
}

.sidebar-block-link {
    display: block;
    padding-left: 44px;
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: rgb(70, 87, 99);
}

.sidebar-block-link:hover {
    padding-left: 70px;
    transition: All 0.4s ease;
    color: black;
    background: rgb(220, 220, 220);
}


/* right column */

.content {
    float: right;
    width: 68%;
    margin-bottom: 51px;
}

.service-img {
    border: 1px solid;
    display: flex;
    padding: 75px 0px 73px 0px;
    justify-content: center;
    align-items: center;
}

.service-img-ramda:hover {
    transform: scale(1.1);
    transition: All 0.4s ease;
}

.description-text {
    padding-left: 30px;
    padding-right: 40px;
    color:  #2c2b2b;
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
    margin-top: 30px;
}

/* Footer */

.footer-main {
    margin-bottom: 30px;
    padding: 21px 41px 48px 41px;
    background-color: rgb(182, 185, 188);
}

.footer-menu {
    float:left;
    font-size: 24px; 
    color: black;
}

.footer-menu .footer-menu-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.copyright {
    float: right;
    font-size: 24px;
    padding-bottom: 20px; 
    color: black;
}

.footer-menu-item-link {
    color: black;
    text-decoration: none;
}

.footer-menu-item-link:hover {
    color: rgb(46, 130, 167);
    border-bottom: 1px solid rgb(46, 130, 167);
    transition: All 0.4s ease;
}

