body {
    background-color: #3e3e3e;
}

.container {
    display: flex;
    justify-content: center;
}

table {
    width: 530px;
    height: 630px;
}

tr:first-child td{
    height: 1px;
    width: 1px;
}

td {
    border: 10px solid #3e3e3e;
    border-collapse: separate;
}

/*Top cells*/

.c1 {
    background: white;
}

.c2 {
    background: white;
}

.c3 {
    background: black;
}

.c4 {
    background: white;
}

.r2c1 {
    background-color: white;
}

.r2c2 {
    background-color: #0d7fbe;
}

.r2c3 {
    background-color: #fae317;
}

.r3c1 {
    background-color: white;
}

.r3c2 {
    background-color: white;
}

.r3c3 {
    background-color: white;
}

.r4c1 {
    background-color: black;
}

.r4c2 {
    background-color: white;
}

.r4c3 {
    background-color: white;
}

.r5c1 {
    background-color: #fae317;
}

.r5c2 {
    background-color: white;
}

.r5c3 {
    background-color: #f50f0f;
}

.r6c1 {
    background-color: white;
}

.r6c2 {
    background-color: black;
}

.r7c1 {
    background-color: #fae317;
}

.r7c2 {
    background-color: #0d7fbe;
}

.r8c1 {
    background-color: white;
}

.r8c2 {
    background-color: white;
}

.r8c3 {
    background-color: black;
}

.r8c4 {
    background-color: #fae317;
}